html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
    min-height: 100%;
    overflow: hidden;
  background-color: #000;
    position: relative;
  margin: 0px;
  padding: 0px;
    color:#FFF;
  font-family: 'MyriadProRegular',Arial, Helvetica, sans-serif;

  -ms-user-select: none;
    -ms-touch-select: none;
    -ms-touch-action: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    user-select: none;

    -webkit-touch-callout: none;        
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);        
    -webkit-text-size-adjust: auto;
      
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
*{
  margin:0;
  padding:0;
}

.font1{
  font-family: 'Marsek',Arial, Helvetica, sans-serif;
}
.font1{
  font-family: 'germania_oneregular',Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'MyriadProRegular';
  font-style: normal;
  font-weight: normal; /* or 400 */
  /*src: url("fonts/MyriadProRegular.ttf") format('truetype');*/
  src: url('fonts/MyriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/MyriadPro-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'MyriadProRegular';
  font-style: bold;
  font-weight: 700; /* or 400 */
  /*src: url("fonts/MyriadProBold.ttf") format('truetype');*/
  src: url('fonts/MyriadPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/MyriadPro-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/MyriadPro-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'germania_oneregular';
  font-style: normal;
  font-weight: normal; /* or 400 */
  /*src: url("fonts/MyriadProBold.ttf") format('truetype');*/
  src: url('fonts/germaniaone-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/germaniaone-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/germaniaone-regular-webfont.woff') format('woff'), /* Modern Browsers */
         url('fonts/germaniaone-regular-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}
#gameLoader{
  position: absolute;
  left: 45%;
  top: 50%;
  -o-transform: translate(-50%, 0);
  -o-transform: scale(2.0);
  -ms-transform: translate(-50%, 0);
  -ms-transform: scale(2.0);
  -moz-transform: translate(-50%, 0);
  -moz-transform: scale(2.0);
  -webkit-transform: translate(-50%, 0);
  -webkit-transform: scale(2.0);
  transform: translate(-50%, 0);
  transform: scale(2.0);
}